*{box-sizing:border-box;font-family:Arial}
body{
    margin:0;
    background:#051018;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}
#container{position:relative}
canvas{
    background:#03121a;
    border:4px solid #0ef;
    border-radius:10px;
}
.overlay{
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    background:rgba(0,0,0,0.75);
    padding:20px;
    border-radius:10px;
    width:300px;
    text-align:center;
}
button{
    margin:8px;
    padding:10px;
    border:none;
    width:80%;
    background:#0ef;
    color:#000;
    font-weight:700;
    border-radius:6px;
    cursor:pointer;
}
.hidden{display:none}
